.canvas {
  border: 1px solid #000;
}
.canvas__componentContainer {
  position: absolute;
  left: 10px;
  top: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  box-sizing: border;
}
.canvas__componentContainer--focus {
  border: 1px dashed #03f;
}